body
{
    background-color:#000;
    font-size:10px;
    font-family:'Source Sans Pro', sans-serif;
}

*
{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -khtml-user-select:none;
    user-select:none;
}

#spaceship
{
    display:block;
    width:800px;
    height:800px;
    position:absolute;
    top:100%;
    left:-400px;
    background:transparent url(../img/spaceship.png) 0 0 no-repeat;
    background-size:cover;
    cursor:pointer;
    z-index:1;
}

.gameInfo
{
    display:block;
    position:absolute;
    height:80px;
    width:800px;
    left:50%;
    margin-left:-400px;
    text-align:center;
    font-size:300%;
    font-weight:700;
    color:#fff;
    text-shadow:0 0 5px #000;
    z-index:2;
}

.gameInfo.top
{
    top:20px;
}

.gameInfo.bottom
{
    bottom:20px;
}

.gameInfo span
{
    display:block;
}

#upgrades
{
    display:block;
    list-style:none inside;
    position:absolute;
    left:20px;
    top:20px;
    font-size:166%;
    font-weight:700;
    color:#fff;
    text-shadow:0 0 5px #000;
    background-color:rgba(200,200,255,0.1);
    border-radius:10px;
    overflow:hidden;
    cursor:pointer;
    z-index:2;
    margin:0;
    padding:0;
}

#upgrades li
{
    clear:both;
    border-bottom:1px solid rgba(200,200,255,0.1);
    padding:5px 30px;
}

#upgrades .cost,#speedLevels .cost
{
    float:right;
    font-size:75%;
    margin-left:20px;
}

#speedLevels
{
    display:block;
    list-style:none inside;
    position:absolute;
    right:20px;
    top:20px;
    font-size:166%;
    font-weight:700;
    color:#fff;
    text-shadow:0 0 5px #000;
    background-color:rgba(200,200,255,0.1);
    border-radius:10px;
    overflow:hidden;
    cursor:pointer;
    z-index:2;
    margin:0;
    padding:0;
}

#speedLevels li
{
    display:block;
    clear:both;
    border-bottom:1px solid rgba(200,200,255,0.1);
    padding:5px 30px;
}

#upgrades li:hover,#speedLevels li:hover
{
    background-color:rgba(200,200,255,0.2)!important;
}

.info
{
    display:block;
    height:0;
    overflow:hidden;
    padding:0 30px;
}

li:hover .info
{
    height:auto;
    width:100%;
    padding:5px 0;
}

div.clickParticle
{
    display:block;
    font-size:300%;
    font-weight:700;
    font-style:italic;
    color:#fff;
    text-shadow:0 0 5px #000;
    position:fixed;
    cursor:pointer;
    z-index:3;
}

.save
{
    position:absolute;
    bottom:20px;
    left:20px;
    font-size:166%;
    font-weight:700;
    color:#fff;
    text-shadow:0 0 5px #000;
    background-color:rgba(200,200,255,0.1);
    border-radius:10px;
    z-index:2;
    display:none;
    padding:5px 30px;
}